/*Yesterday自用模板*/
/*版权没有，翻版不究*/
/*字体样式*/
@font-face{font-family:"title1";src:url("../Fonts/title1.ttf");}
.title1{font-family:title1;}
@font-face{font-family:"title2";src:url("../Fonts/title2.ttf");}
.title2{font-family:title2;}
@font-face{font-family:"fs";src:url("../Fonts/fs.ttf");}
.fs{font-family:fs;}
@font-face{font-family:"kt";src:url("../Fonts/kt.ttf");}
.kt{font-family:kt;}
@font-face{font-family:"ht";src:url("../Fonts/ht.ttf");}
.ht{font-family:ht;}
@font-face{font-family:"htb";src:url("../Fonts/htb.ttf");}
.htb{font-family:htb;}
@font-face{font-family:"num";src:url("../Fonts/num.ttf");}
.num{font-family:num;}
@font-face{font-family:"zz";src:url("../Fonts/zz.ttf");}
.zz{font-family:zz;}

/*正文*/
@font-face{font-family:"zw";src:url("../Fonts/YesterdayNeo.ttf");}
.zw{font-family:zw;}
/*注释*/
@font-face{font-family:"vuui";src:url("../Fonts/vuui.ttf");}
.vuui{font-family:vuui;}
